<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Cambio Climático</title>
  </head>
  <body>
    <div class="title-container">
      <img
        class="title-img"
        src="static\img\tierra.png"
        alt="tierra"
        width="200"
        height="200"
      />
      <h1 class="home__title2">EL CAMBIO CLIMATICO</h1>
    </div>
    
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">IMPACTO</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#catastrofe">CATASTROFES</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">CAUSAS</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#consecuencias">CONSECUENCIAS</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#soluciones">SOLUCIONES</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#feedback">ACTÚA</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <!-- Sección principal -->
      <section class="main__home home" id="home">
        <h2 class="home__subtitle">QUE ES CAMBIO CLIMÁTICO</h2>
        <div class="title-container2">
        <img
        class="title-img2"
        src="static\img\planeta.png"
        alt="tierra"
        width="200"
        height="200"
      />
        <p class="home__description">El cambio climático representa uno de los desafíos más críticos y urgentes de nuestra era.
            Se define como las alteraciones significativas y prolongadas en los patrones climáticos globales.
            Si bien algunos cambios climáticos pueden ocurrir de forma natural, 
            la actividad humana desde la Revolución Industrial ha acelerado este proceso de manera sin precedentes, 
            principalmente debido a la emisión descontrolada de gases de efecto invernadero</p>
        </div>
      </section>

      <!-- Sección de impacto -->
      <section class="main__about about" id="about">
        <h2 class="about__title">IMPACTOS OBSERVABLES DEL CAMBIO CLIMÁTICO</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            El cambio climático ya es una realidad visible en todo el planeta. La temperatura media global ha aumentado 1,1 °C desde finales del siglo XIX, 
            con la última década registrada como la más cálida. Este aumento de temperaturas ha provocado efectos en cascada:<br>
            • Eventos climáticos extremos: Se observan sequías más intensas, inundaciones, tormentas más frecuentes y destructivas, así como olas de calor prolongadas.<br>
            • Pérdida de biodiversidad: Muchas especies enfrentan desajustes ecológicos y cambios en sus hábitats naturales.<br>
            • Impacto en los sistemas humanos: Cambios en la agricultura, la disponibilidad de agua y la salud pública, incluyendo nuevas enfermedades asociadas al aumento de temperaturas.
          </p>
          <img
            class="info-block__img"
            src="static/img/impacto-visible.jpeg"
            alt="impacto climático"
            width="600"
            height="400"
          />
        </div>
      </section>

      <!-- Eventos Catastróficos Recientes -->
      <section class="main__about about" id="catastrofe">
        <h2 class="about__title">EVENTOS CATASTROFICOS RECIENTES</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            El cambio climático no es una amenaza futura; ya está causando devastación en todo el mundo:<br>
            •	Incendios en Australia (2019-2020): Los "incendios negros" destruyeron más de 18 millones de hectáreas, mataron o desplazaron a casi 3 mil millones de animales y liberaron cantidades masivas de CO2 a la atmósfera.<br>
            • Ola de Calor Europea (2022): Temperaturas récord superiores a 40°C en países como Reino Unido, causando miles de muertes y graves sequías.<br>
            •	Inundaciones en Pakistán (2022): Un tercio del país quedó bajo el agua, afectando a 33 millones de personas y causando pérdidas por más de 40 mil millones de dólares.<br>
            •	Sequía en el Cuerno de África (2020-2023): La peor sequía en 40 años, poniendo a millones de personas en riesgo de hambruna.
          </p>
          <img
            class="info-block__img"
            src="static\img\desastres-catastrofes.jpg"
            alt="impacto climático"
            width="600"
            height="400"
          />
        </div>
      </section>
    
      <!-- Sección de causas -->
      <section class="main__skills skills" id="skills">
        <h2 class="about__title">CAUSAS DEL CAMBIO CLIMÁTICO</h2>
        <div class="climate-cards-container">
          <div class="card">
            <img src="static/img/combustibles-fosiles.jpg" alt="Combustibles Fósiles">
            <div class="card__content">
              <p class="card__title">Combustibles Fósiles</p>
              <p class="card__description">
                El uso excesivo de combustibles fósiles como petróleo, carbón y gas natural es la principal fuente de emisiones de gases de efecto invernadero.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\generacion-enegia.jpg" alt="Generación de Energía">
            <div class="card__content">
              <p class="card__title">Generación de Energía</p>
              <p class="card__description">
                La producción de electricidad mediante métodos no renovables contribuye significativamente a la emisión de gases contaminantes.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\product-fabric.jpeg" alt="Productos de Fabricación">
            <div class="card__content">
              <p class="card__title">Productos de Fabricación</p>
              <p class="card__description">
                Los procesos industriales y la fabricación de productos generan grandes cantidades de emisiones y residuos contaminantes.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\tala-arboles.jpg " alt="Tala de Bosques">
            <div class="card__content">
              <p class="card__title">Tala de Bosques</p>
              <p class="card__description">
                La deforestación reduce la capacidad del planeta para absorber CO2 y contribuye a la pérdida de biodiversidad.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\prosccion-alimentos.jpg" alt="Producción de Alimentos">
            <div class="card__content">
              <p class="card__title">Producción de Alimentos</p>
              <p class="card__description">
                La agricultura intensiva y la ganadería generan importantes emisiones de metano y otros gases de efecto invernadero.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\consumo-excesivo.jpg" alt="Consumo excesivo">
            <div class="card__content">
              <p class="card__title">Consumo excesivo</p>
              <p class="card__description">
                Los patrones de consumo insostenible generan residuos y aumentan la demanda de productos que dañan el medio ambiente.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\mal-uso-agua.jpg" alt="Uso del Agua">
            <div class="card__content">
              <p class="card__title">Uso del Agua</p>
              <p class="card__description">
                El desperdicio de agua potable y su mal manejo contribuyen al agotamiento de este recurso vital y a problemas ambientales relacionados.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\desperdicio-recurso.avif" alt="Desperdicio de Recursos Naturales">
            <div class="card__content">
              <p class="card__title">Desperdicio de Recursos Naturales</p>
              <p class="card__description">
                El consumo desmedido y la extracción irresponsable de recursos naturales afectan la sostenibilidad y el equilibrio ecológico.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Sección de consecuencias -->
      <section class="main__skills skills" id="consecuencias">
        <h2 class="about__title">EFECTOS DEL CAMBIO CLIMÁTICO</h2>
        <div class="climate-cards-container">
          <div class="card">
            <img src="static/img/elevacion-temperaturas.jpg" alt="Elevación de temperaturas">
            <div class="card__content">
              <p class="card__title">Elevación de temperaturas</p>
              <p class="card__description">
                El incremento en las temperaturas globales afecta ecosistemas, provoca olas de calor y altera patrones climáticos estacionales.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static/img/tormetna-potente.jpg" alt="Tormentas más potentes">
            <div class="card__content">
              <p class="card__title">Tormentas más potentes</p>
              <p class="card__description">
                Los fenómenos meteorológicos extremos, como huracanes y tormentas, se vuelven más frecuentes e intensos debido al cambio climático.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static/img/sequias.jpg" alt="Sequías y escasez de agua">
            <div class="card__content">
              <p class="card__title">Sequías y escasez de agua</p>
              <p class="card__description">
                Las temperaturas elevadas y los cambios en los patrones de lluvia generan períodos prolongados de sequía, afectando el suministro de agua.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static/img/agua-elevada.jpg" alt="Aumento del nivel del mar">
            <div class="card__content">
              <p class="card__title">Aumento del nivel del mar</p>
              <p class="card__description">
                El derretimiento de glaciares y la expansión térmica de los océanos provocan inundaciones en áreas costeras y pérdida de hábitats.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static/img/perdida-diodiversidad.jpg" alt="Pérdida de biodiversidad">
            <div class="card__content">
              <p class="card__title">Pérdida de biodiversidad</p>
              <p class="card__description">
                El cambio climático pone en riesgo la supervivencia de numerosas especies, alterando los ecosistemas y su equilibrio natural.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\forestal2.jpg" alt="Incendios forestales">
            <div class="card__content">
              <p class="card__title">Incendios forestales</p>
              <p class="card__description">
                Las altas temperaturas y las sequías prolongadas aumentan la frecuencia y la intensidad de los incendios, destruyendo bosques y ecosistemas.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\desplazamiento.jpg" alt="Desplazamiento poblacional">
            <div class="card__content">
              <p class="card__title">Desplazamiento poblacional</p>
              <p class="card__description">
                Millones de personas se ven obligadas a migrar debido a desastres naturales, falta de recursos y condiciones climáticas extremas.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="static\img\impacto-economico.jpg" alt="Impacto económico">
            <div class="card__content">
              <p class="card__title">Impacto económico</p>
              <p class="card__description">
                Los desastres naturales y los cambios en los recursos naturales generan enormes pérdidas económicas y afectan la seguridad alimentaria.
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="main__feedback feedback" id="feedback">
        <div class="title-container5">
          <img
            class="title-img5"
            src="static\img\contra-clims.png"
            alt="tierra"
            width="200"
            height="200"
          />
          <h1 class="home__title2">CONTRA EL CAMBIO CLIMATICO </h1>
        </div>
      <section class="main__home home" id="soluciones">
        <h2 class="about__title">SOLUCIONES</h2>
        <div class="title-container">
        <img
        class="info-block__img"
        src="static\img\solucion-cambio.jpg"
        alt="tierra"
        width="500"
        height="500"
      />
        <p class="home__description">
          1.	Compromiso político:
          Es crucial que los países más contaminantes lideren el cambio hacia modelos sostenibles mediante políticas y acuerdos internacionales, como el Acuerdo de París.<br>
          2.	Educación ambiental:
          Concienciar a la población sobre los efectos del cambio climático y fomentar prácticas sostenibles puede generar un cambio a nivel comunitario.<br>
          3.	Transición energética:
          Sustituir los combustibles fósiles por energías renovables como la solar y la eólica es fundamental para reducir las emisiones.<br>
          4.	Movilidad sostenible:
          Promover el uso de bicicletas, transporte público y vehículos eléctricos reduce significativamente la huella de carbono.<br>
          5.	Reducción de residuos:
          Implementar prácticas de reciclaje y reutilización, así como combatir la obsolescencia programada, ayuda a disminuir la contaminación.
          
        </div>
      </section>

      <!-- Sección de acción -->
      <section class="main__feedback feedback" id="feedback">
        <div class="title-container3">
          <img
            class="title-img3"
            src="static\img\saturn.webp"
            alt="tierra"
            width="200"
            height="200"
          />
          <h1 class="home__title2">CUAL ES TU PLAN PARA ESTO?</h1>
        </div>
        <h2 class="about__title">COMENTANOS TU IDEA</h2>
        
        <form action="{{ url_for('submit_comment') }}" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Tu correo electrónico" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Comparte tus ideas para combatir el cambio climático"></textarea>
          </label>
          <div class="buttons">
            <button class="btn" type="submit"><span></span><p data-start="Comentanos" data-text="Comentanos" data-title="Unete al Cambio"></p></button>
          </div>
        </form>
      
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </section>
                
    <footer class="footer">
      <div class="title-container4">
        <img
          class="title-img4"
          src="static\img\discord.png"
          alt="tierra"
          width="150"
          height="150"
        />
        <p class="home__description">
          Unete a nuestro Discord para mas informacion :D
        </p>
        <a href="https://discord.gg/D76ufWrM" target="_blank">
          <div class="buttons">
            <button class="btn" type="submit" ><span></span><p data-start="Comentanosasas" data-text="Chatea con Clim-Bot" data-title="Unete al Discord"></p></button>
          </div>
        </a>
    </footer>
  </body>
</html>